start/.gradle/5.1.1/gc.properties
start/.gradle/5.1.1/executionHistory/executionHistory.bin
start/.gradle/5.1.1/executionHistory/executionHistory.lock
start/.gradle/5.1.1/fileChanges/last-build.bin
start/.gradle/5.1.1/fileHashes/fileHashes.bin
start/.gradle/5.1.1/fileHashes/fileHashes.lock
start/.gradle/5.4.1/gc.properties
start/.gradle/5.4.1/executionHistory/executionHistory.bin
start/.gradle/5.4.1/executionHistory/executionHistory.lock
start/.gradle/5.4.1/fileChanges/last-build.bin
start/.gradle/5.4.1/fileContent/fileContent.lock
start/.gradle/5.4.1/fileHashes/fileHashes.bin
start/.gradle/5.4.1/fileHashes/fileHashes.lock
start/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
start/.gradle/5.4.1/javaCompile/classAnalysis.bin
start/.gradle/5.4.1/javaCompile/jarAnalysis.bin
start/.gradle/5.4.1/javaCompile/javaCompile.lock
start/.gradle/5.4.1/javaCompile/taskHistory.bin
start/.gradle/buildOutputCleanup/buildOutputCleanup.lock
start/.gradle/buildOutputCleanup/cache.properties
start/.gradle/buildOutputCleanup/outputFiles.bin
start/.gradle/vcs-1/gc.properties
